@import './fonts.css';
@import './variables.css';
@import './transitions.css';
@import './typography.css';
@import './components.css';

:focus {
  outline: var(--theme-info, -webkit-focus-ring-color) auto 1px;
}

html {
  font-size: var(--base-size);
  word-spacing: 1px;
}

body {
  background-color: var(--theme-background, #fff);
}

.text--info {
  color: var(--theme-info);
}
.text--primary {
  color: var(--theme-primary);
}

.theme--primary {
  background-color: var(--theme-primary) !important;
  color: var(--theme-primary-text) !important;
}
