:root {
  --font-alt: "SFProDisplay", sans-serif;
  --font-primary: "Flutterwave", sans-serif;
  --font-primary-bold: "Flutterwave Bold", sans-serif;
}

body {
  color: #1d222c;
  font-size: 1.16rem;
  font-family: var(--font-primary);
  font-weight: 400;
}

h1, h2, h3 {
  font-family: var(--font-primary-bold);
  font-style: normal;
  font-weight: 900;
  font-size: 3rem;
  line-height: 3.33rem;
  color: #333;
}

h2, h3 {
  font-weight: bold;
  font-size: 2rem;
  line-height: 2.5rem;
}

h3 {
  font-size: 1.5rem;
  line-height: 1.8rem;
  margin-bottom: 5px;
}

h4, h5, h6 {
  color: #333;
  font-family: var(--font-alt);
  font-size: 1.5rem;
  font-weight: 300;
  line-height: 2rem;
  text-transform: uppercase;
}

h6 {
  font-size: 16px;
  line-height: 16px;
}

p {
  color: #000;
  font-family: var(--font-primary);
  font-style: normal;
  font-weight: normal;

  /* 18px */
  font-size: 1.5rem;
  line-height: 1.83rem;
  letter-spacing: 0.0975rem;

}

.caption {
  font-family: var(--font-alt);
  color: rgba(29, 29, 29, 0.6);
}

.date {
  color: #12122C;
  font-family: var(--font-alt);
  font-size: 1.5rem;
  line-height: 2rem;
  text-transform: uppercase;
}

.date--small {
  color: #4F4F4F;
  font-size: 1rem;
  line-height: 1.1667rem;
}

.price, .title {
  font-family: var(--font-primary);
  font-size: 2rem;
  font-weight: 600;
  line-height: 2.4rem;
  color: #333;
}

/* .title {
  font-family: Flutterwave;
  font-size: 24px;
  line-height: 32px;
  color: #333333;
} */
.label {
  font-family: Open Sans, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
  letter-spacing: 0.5px;
  color: #333;
}

.text--center {
  text-align: center;
}

.text--uppercase {
  text-transform: uppercase;
}
