:root {
  --font-primary: "Flutterwave", sans-serif;
  --font-primary-bold: "Flutterwave Bold", sans-serif;
}

body {
  color: #1d222c;
  font-size: 1.16rem;
  font-family: var(--font-primary);
  font-weight: 400;
}

h1, h2 {
  font-family: var(--font-primary-bold);
  font-style: normal;
  font-weight: 900;
  font-size: 3rem;
  line-height: 3.33rem;
  color: #333;
}

h2 {
  font-style: normal;
  font-weight: bold;
  font-size: 2rem;
  line-height: 2.5rem;
}

.caption {
  color: rgba(29, 29, 29, 0.6);
}
